@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/operator-mono');

pre {
  width: 80vw;
  background: rgb(1, 22, 39) !important;
}

code{
   font-family: 'Operator Mono', sans-serif;
   line-height: 1.5;
}
